body, html {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;

}

p {
  font-size: 25px;
  font-weight: 400;
}

h2 {
  font-size: 50px;
  font-weight: 400;
}

h3 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

h6 {
    font-size: 14px;
    font-weight: 600;
    color: #666666;
    letter-spacing: 1px;
    text-transform: uppercase;

}
/*
* {
  border-radius: 0 !important;
}
*/

.container {
  text-align: center;
}

.navbar {
  padding: 15px 0px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
  font-size: 15px;
  /*border-style: none;*/
}

.navbar ul li {
  padding-top: 7px; 
}

ul.nav a:hover {
  color: #fa565a !important;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in;
}


.navbar-default {
  background-color: white;
  /*border-style: none;*/
}

.navbar-default .navbar-nav>li>a {
    color: #929292;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;


}

.navbar-default .navbar-brand {
  color: black;
  padding-top: 22px; 
}

.navbar-default .navbar-brand {
  font-size: 21px;
  color: #929292;
  letter-spacing: 4px;
  text-transform: uppercase;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.brand-logo {
  height: 60px;
}

.header {
  background: url('../images/desktop2.png');
  background-position: center right;
  background-attachment: fixed;
  background-size: cover;


  padding: 300px 0px;
  color: white;
}

.header h2 {
  text-shadow: 0px 3px 5px rgba(0,0,0,.2);
}

.header h4 {
  font-size: 14px;
  font-weight: 400;
  text-shadow: 0px 1px 2px rgba(0,0,0,.2);
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-bottom: 20px;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  border: 1px solid rgba(0,0,0,.5);
  padding: 12px 30px;
  font-weight: 400;
  letter-spacing: 3px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  border-color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: white;
  color: black;
  border-color: white;
}

.btn-danger {
  border: 1px solid rgba(0,0,0,.5);
  padding: 12px 30px;
  font-weight: 400;
  letter-spacing: 3px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  border-color: white;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  background: #0db4ff;
  color: black;
  border-color: white;
}

#what-we-do {
  padding: 100px 0px;
}

#what-we-do h3 {
  font-size: 40px;
  margin-bottom: 30px;
}

.icon-color {
  color: black;
}

.border {
  display: block;
  width: 80px;
  height: 2px;
  background: #060606;
  margin: 0 auto;
}

#our-work {
  padding: 100px 0px;
  background-color: #3498DB;
  /*background: #323232;*/
  color: white;
}

#our-work .triangle-down {
  top: 1033px;
  background: white;
}

#our-work p {
  font-size: 19px;
}

#our-work h3 {

  margin-bottom: 90px;
}


#our-work h4 {
  font-size: 23px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 5px;
}


.panel {
  background-color: #3498DB;
  /*border: 2px solid #337ab7;*/
  padding: 0px 50px 0px 50px;
  /*background: #323232;*/
}

.web-design {

}

.img-margin {
  margin: 0px 0px 0px  0px;
  /*border-radius: 70px;*/
  height: 80px;
}

#contact {
  padding: 100px 0px;
}

#contact h3 {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0px;
}


#contact .fa-size {
    font-size: 21px;
    padding-right: 10px;
}

#contact .info-size {
    color: #434343;
}


#contact .contact-desc {
    margin: 70px 0px;
}

#contact .btn-default {
    margin: 10px;
    border: none;
    font-size: 18px;
}

#contact .info-size {
    font-size: 24px;
}


#contact .btn-info {
    margin-top: 65px;
    background-color: white;

}

#contact .disabled {
    color: black; 
}

#contact .btn {
    padding: 8px 18px;
    border-width: 2px;
    border-color: #3498DB;
    margin-bottom: 10px;
}

#contact .btn-danger:hover{
    background-color: #3498DB;
    color: white;
    
}

#contact .fa-facebook {
    color: #3b5998;
}

#contact .btn-facebook{
	border-color:white;
}

#contact .btn-facebook:hover{
	background:#3b5998;
}

#contact .btn-facebook:hover .fa-facebook{
	color:white;
	transition: all .2s ease-in;
}

#contact .fa-twitter {
    color: #00aced;
}

#contact .btn-twitter{
	border-color:white;
}

#contact .btn-twitter:hover{
	background:#00aced;
}

#contact .btn-twitter:hover .fa-twitter{
	color:white;
	transition: all .2s ease-in;
}

#contact .fa-instagram {
    color: #517fa4;
}

#contact .btn-instagram{
	border-color:white;
}

#contact .btn-instagram:hover{
	background: #517fa4;
}

#contact .btn-instagram:hover .fa-instagram{
	color:white;
	transition: all .2s ease-in;
}

#contact .btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 24px;
  line-height: 1.428571429;
  border-radius: 30px;
  transition: all .2s ease-in;
}

#contact .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
  background: white;
  color: black;
  border-color: #21759b;

}

#contact .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background: white;
  color: black;
  border-color: black;
}

footer {
  background: #1f2829;
  padding: 30px 0px;
}

footer p {
  font-size: 15px;
  /*text-transform: uppercase;*/
  letter-spacing: 2px;
  margin: 0px;
  color: #666666;
}

  .btn-circle-do.btn {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    padding: 50px 20px;
    margin: 10px;
    border: none;
    transition: background 0.25s ease-in;
  }

  .btn-danger {
    border-style: 1px solid white;
    padding: 12px 30px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: white;
    color: black;
  }

  .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background: white;
    color: black;
    border-color: black;
}

  ::selection {
    background: #428aba; /* WebKit/Blink Browsers */
    color: white;
  }
  ::-moz-selection {
    background: #428aba; /* Gecko Browsers */
    color: white;
  }



    /* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .mobile-h2-small-font {
    font-size: 30px;
  }

  .mobile-p-small-font {
    font-size: 20px;
  }

  .mobile-increase-padding-h4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile-header {
    padding-bottom: 200px;
    padding-top: 220px;
  }

  #what-we-do .mobile-section-heading-size {
    font-size: 30px;
  }

  #our-work .mobile-section-heading-size {
    font-size: 30px;
  }

  .header .mobile-brand-text-size {
    font-size: 19px;
  }

  .header .mobile-logo-padding {
    padding-left: 10px;
    height: 55px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}

input{
    height: 50;
}

.required{
      color:red;
}